In [23]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('D:\APRIL\E-job Portal\job.csv')

In [25]:
df.head()

   sl no  education  experience  industry  skills  jobtitle  clust
0      0       1204           1        37      29     14772      0
1      1       1265           0         1      32     15055      0
2      2         84         110        29      14      9101      1
3      3        106          28         8       0      7533      3
4      4       1203         123        29      14      6136      2

In [26]:
df = df.drop(['sl no', 'jobtitle'], axis = 1)

In [27]:
df.columns

Index(['education', 'experience', 'industry', 'skills', 'clust'], dtype='object')

In [28]:
df.isna().sum()
df.isnull().sum()

education     0
experience    0
industry      0
skills        0
clust         0
dtype: int64

In [29]:
x= df.iloc[:,:-1]
y= df.iloc[:,-1]

In [30]:
x.columns

Index(['education', 'experience', 'industry', 'skills'], dtype='object')

In [31]:
y

0        0
1        0
2        1
3        3
4        2
        ..
17579    1
17580    2
17581    4
17582    2
17583    2
Name: clust, Length: 17584, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
x, x_test, y, y_test = train_test_split(x,y, stratify=y, test_size=0.25, random_state=42)

In [33]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x, y)

MultinomialNB()

In [34]:
model.score(x_test, y_test)

0.16901728844404004

In [35]:
from sklearn.linear_model import LogisticRegression
model2 = LogisticRegression()
model2.fit(x, y)

C:\Program Files\Python36\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [36]:
model2.score(x_test, y_test)

0.24749772520473157

In [37]:
from sklearn.svm import LinearSVC

svc = LinearSVC()
svc.fit(x, y)

C:\Program Files\Python36\lib\site-packages\sklearn\svm\_base.py:986: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC()

In [38]:
svc.score(x_test, y_test)

0.21610555050045496

In [39]:
#Fitting K-NN classifier to the training set  
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(x, y)

KNeighborsClassifier()

In [40]:
classifier.score(x_test, y_test)

0.2167879890809827

In [41]:
import pickle

In [42]:
# save the model to disk
filename = 'knn.sav'
pickle.dump(classifier, open(filename, 'wb'))